@font-face{
	font-family: 'Molle-font';
	src: url(../fonts/Molle/Molle-Regular.ttf);
}
*{
	margin:0;
	padding: 0;

}

body,html{
	width:100%;
	height: 100%;
}
.btn{
	line-height: 2em;
	background: #ff5555;
	color: white;
	text-decoration: none;
	padding: 0.4em 2em;
}
.btn-block{
	display: block;
	margin : 3% 0;
}


div{
	width: 100%;
}
div.centrado{
	width:90%;
	margin: 5% 5%;
	

}
label{
	color:#ff5555;
	font-family: 'Molle-font';
	font-size: 1.3em;
	display: block;
}
form.form-inline{
	display: inline-block;
}
form.form-inline label{
	display: inline;
}

header {
	background: #ff5555;
	font-family: 'Molle-font';
	color:white;
	line-height: 3em;
}
input[type=text],input[type=password]{
	width: 100%;
	line-height: 2em;
}
input.btn{
	border:none;
}
.right{
	margin-left: 30%;
}

table{
	width: 90%;
	margin:5% 5%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
	border-collapse: collapse;
}
table tr{
	line-height: 2em;
	

}
table tr.header_table{
	background: #ff5555;
	font-family: 'Molle-font';
	color: white;
}

table th,td{
	width: 25%;
	text-align: center;
	border: 2px solid rgba(0,0,0,0.3);

}
.text-pink{
	color:#ff5555;
}
